
<div class="headline">
    Playit - Skapa egna lekar
</div>
<div style="text-align: center">
    <p>
        Playit är en hemsida för dig som vill skapa en egen lek, antingen utifrån redan existerande mallar eller en helt ny lek.
    </p>
    <p>
        Logga in funktionen låter dig spara dina spel/lekar för att använda dem fler gånger.
    </p>
    <p>
        Mallarna är till för dig som antingen bara vill leka runt med olika existerande spel eller för de som kör med så kallade familjeregler till vissa spel.
    </p>
    <p>
        Om du har en idé för ett helt nytt spel är det också något playit finns för. Med funktionen "nytt-spel" kan du välja att bygga ett helt nytt spel från grunden. Du kan välja mellan tärningar eller kort eller både och och mer.
    </p>
</div>