<div class="headline">
    Välj ett spel nedan.
</div>
<ul class="game-item-list">
    <li>
        <a href="/jagharaldrig"><div class="game-item-header">Jag har aldrig</div></a>
    </li>
    <li>
        <a href="/pekleken"><div class="game-item-header">Pekleken</div></a>
    </li>
    <li>
        <a href="/sanningkonka"><div class="game-item-header">Sanning/konsekvens</div></a>
    </li>
</ul>