<div class="headline">
    Välkommen {{{ username }}}!
</div>
<div class="subtext">
    Du kan nu börja skapa dina egna spel. Gå tillbaka till framsidan för att sätta igång!
    <a href="/"><div class="home-button">
        Till framsidan
    </div></a>
</div>